@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

:root{
    --text-color:#edf3ff;
    --subheading-color: #97a7ca;
    --placeholder-color: #c3cdde;
    --primary-color: #101623;
    --secondary-color: #283045;
    --secondary-hover-color: #333e58;
    --scrollbar-color: #626a7f;

}

body{
    color: var(--text-color);
    background: var(--primary-color);
}

.container{
    padding: 32px 0 60px;

}

.container :where(.app-header, .suggestions, .prompt-wrapper, .disclaimer-text){
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    max-width: 980px;
}

.container .app-header{
    margin-top: 4vh;

}

.app-header .heading{
    font-size: 3rem;
    width: fit-content;
    background: linear-gradient(to right, #1d7efd, #8f6fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.app-header .sub-heading{
    font-size: 2.6rem;
    margin-top: -5px;
    color: var(--subheading-color);
}

.container .suggestions{
    display: flex;
    gap: 15px;
    margin-top: 9.5vh;
    list-style: none;
    overflow-x: auto;
    scrollbar-width: none;
}

.suggestions .suggestions-item{
    width: 228px;
    padding: 18px;
    flex-shrink: 0;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 12px;
    background: var(--secondary-color);
    transition: 0.3s ease;
}

.suggestions .suggestions-item{
    background: var(--secondary-hover-color);
}

.suggestions .suggestions-item .text{
    font-size: 1.1rem;
}

.suggestions .suggestions-item span{
    height: 45px;
    width: 45px;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #1d7efd;
    background: var(--primary-color);
}

.suggestions .suggestions-item:nth-child(2) span{
    color: #28a745;
}

.suggestions .suggestions-item:nth-child(3) span{
    color: #ffc107;
}

.suggestions .suggestions-item:nth-child(4) span{
    color: #6f42c1;
}